* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #131313;
  background: #f1f1f1;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  align-items: center;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  padding: 4rem;
}

.title {
  font-size: 2rem;
}

.container {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
  font-family: "Courier New", Courier, monospace;
}
