name: Publish to npm

on:
  push:
    tags:
      - core@*

jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun i --production --cwd ./packages/tinyworker-core/ --frozen-lockfile
      - run: bun run --cwd ./packages/tinyworker-core build
      - run: bun publish --cwd ./packages/tinyworker-core --access public --tolerate-republish --frozen-lockfile
